/*tag*/

img {
  height: 200px;
}

p.time {
  color: gray;
}

h1, h2, p, li {
  font-family: Helvetica;
}

/*Class*/

.centered-img {
  text-align: center;
}

.description {
  font-size: 20px;
}

.external-link {
  color: SeaGreen;
}

.ingredients li {
  list-style: square;
}

/*ID*/

#cook-time {
  font-weight: bold;
}
